node_modules/
.pnp/
.pnp.js

dist/
.astro/

.env
.env.*

# Config
opencode.json

#IDE
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/

*.tmp
*.temp
.vercel

.agents
opencode.json
